.accordion {
  .accordion__item {
    border: 1px solid #c4c4c4;
    margin-bottom: 20px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    &-active {
      padding-bottom: 10px;
      @include form-shadow;
      border: none;
    }

    &.accordion__item-active {
      .accordion__item-content {
        opacity: 1;
        display: flex;
        justify-content: space-between;
        transition: opacity 0.3s ease-in-out;
      }
      .accordion__item-arrow {
        transform: rotate(0deg);
      }
      .accordion__item-trigger {
        > .trigger__text {
          color: var(--dark-color);
        }
      }
    }

    .accordion__item-trigger {
      display: flex;
      padding: 14px 20px;
      align-items: center;
      cursor: pointer;
      @include tablet {
        padding: 10px 16px;
      }

      .trigger__num {
        margin-right: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.035em;
        color: var(--text-color);
      }

      .trigger__text {
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.035em;
        color: var(--dark-color);
        font-weight: 700;
        margin-left: 10px;
        transition: opacity 0.3s ease-in-out;
        @include tablet {
          font-size: 13px;
        }
      }

      .trigger__img {
        position: relative;
        margin-left: auto;

        .trigger__circle {
          width: 30px;
          height: 30px;
          background-color: var(--dark-color);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .accordion__item-content {
      padding: 23px;
      display: none;
      animation: fade 0.5s ease-in-out;
      font-weight: 700;
      font-size: 14px;

      .content__text {
        margin-top: 25px;
        padding: 0 30px;
        border: 1px solid var(--dark-color);
        display: flex;
        align-items: center;
        border-radius: 10px;
        font-weight: 700;
        @include mobile {
          padding: 0 10px;
        }

        &:first-child {
          margin-top: 0;
        }
      }
      .content__price {
        color: var(--light-color);
        background: black;
        padding: 10px 10px;
        border-radius: 25px;
        font-weight: 700;
        &-currency {
          margin-left: 5px;
        }
        @include mobile {
          padding: 5px 7px;
        }
      }
    }
    &-arrow {
      transform: rotate(180deg);
      width: 18px;
      height: 10px;
      fill: var(--light-color);
      transition: transform 0.2s ease-in;
    }
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
