.price {
  max-width: 700px;
  margin: 0 auto 50px;
  text-align: center;
  @include form-shadow;
  padding: 20px 30px 40px;
  border-radius: 10px;
  @include tablet {
    max-width: 500px;
  }
  &__title {
    margin: 10px 0;
  }
  &__subtitle {
    font-size: 15px;
    font-weight: 800;
    color: var(--text-color);
    margin-top: 10px;
    display: block;
  }
  &__info {
    font-size: 20px;
    font-weight: 800;
    color: var(--light-color);
    background: var(--dark-color);
    border-radius: 25px;
    padding: 15px;
    @include tablet {
      padding: 13px;
      font-size: 16px;
    }
  }
}
.accordion {
  .accordion__item {
    border: 1px solid #c4c4c4;
    margin-bottom: 20px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    &-active {
      padding-bottom: 10px;
      @include form-shadow;
      border: none;
    }

    &.accordion__item-active {
      .accordion__item-content {
        opacity: 1;
        display: flex;
        justify-content: space-between;
        transition: opacity 0.3s ease-in-out;
      }

      .line2 {
        transform: translate(0) !important;
        transition: opacity 0.3s ease-in-out;
      }

      .line1 {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      .accordion__item-trigger {
        > .trigger__text {
          color: var(--dark-color);
        }
      }
    }

    .accordion__item-trigger {
      display: flex;
      padding: 14px 20px;
      align-items: center;
      cursor: pointer;
      @include tablet {
        padding: 10px 16px;
      }

      .trigger__num {
        margin-right: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.035em;
        color: var(--text-color);
      }

      .trigger__text {
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.035em;
        color: var(--dark-color);
        font-weight: 700;
        margin-left: 10px;
        transition: opacity 0.3s ease-in-out;
        @include tablet {
          font-size: 13px;
        }
      }

      .trigger__img {
        position: relative;
        margin-left: auto;

        .line1 {
          display: block;
          width: 18px;
          height: 2px;
          background-color: var(--text-color);
          border-radius: 100px;
          @include tablet {
            width: 15px;
          }
        }

        .line2 {
          display: block;
          width: 18px;
          height: 2px;
          background-color: var(--text-color);
          margin-top: -2px;
          border-radius: 100px;
          transform: rotate(90deg);
          @include tablet {
            width: 15px;
          }
        }
      }
    }

    .accordion__item-content {
      padding: 23px;
      display: none;
      animation: fade 0.5s ease-in-out;
      font-weight: 700;
      font-size: 14px;

      .content__text {
        margin-top: 25px;
        padding: 0 30px;
        text-decoration: underline;
        border: 1px solid var(--dark-color);
        display: flex;
        align-items: center;
        border-radius: 10px;
        font-weight: 700;

        &:first-child {
          margin-top: 0;
        }
      }
      .content__price {
        color: var(--light-color);
        background: black;
        padding: 10px 10px;
        border-radius: 5px;
        font-weight: 700;
        &-currency {
          margin-left: 5px;
        }
      }
    }
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
