.blog {
  padding: 100px 0 50px;
  @include tablet {
    border-bottom: 1px solid var(--light-color);
  }
  @include mobile {
    padding: 100px 0 50px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    @include for-hero {
      grid-template-columns: repeat(4, 1fr);
    }
    @include tablet {
      width: 80%;
      margin: 0 auto;
      grid-template-columns: repeat(2, 1fr);
    }
    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    max-width: 350px;
    @include shadow;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    @include mobile {
      max-width: 280px;
    }

    &-img {
      height: 180px;
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    &-title {
      margin: 0;
      margin-bottom: 10px;
      text-align: center;
      font-size: 18px;
      color: var(--dark-color);
      transition: all 0.5s;
      @include for-desktop {
        &:hover {
          transform: scale(1.05);
        }
      }
      @include mobile {
        font-size: 16px;
      }
    }
  }
  &__info {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    @include mobile {
      font-size: 13px;
    }
    &-date,
    &-comments,
    &-author {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &-comments {
      transition: all 0.5s;
      @include for-desktop {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    &-text {
      color: var(--dark-color);
    }
  }
  &__image {
    &-date {
      width: 22px;
    }
    &-wrapper {
      height: 32px;
      width: 32px;
      padding: 6px;
      margin: 0;
      transition: all 0.5s;
      @include for-desktop {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  &__share {
    display: flex;
    align-items: center;
    gap: 12px;
    @include small-tablet {
      margin: 10px auto 0;
    }
    @include mobile {
      margin: 0;
    }
  }
  &__text {
    font-size: 13px;
    line-height: 18px;
  }
  &__list {
    margin: 20px 0;
    padding-left: 14px;
    &-item {
      margin-bottom: 10px;
      font-weight: 700;
      color: var(--text-color);
    }
  }
  &__title {
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
  }
  &__comment {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    @include mobile {
      display: inline-block;
    }
    &-avatar {
      min-width: 130px;
      height: 130px;
      @include shadow;
      border-radius: 10px;
      text-align: center;
      img {
        height: 100%;
        border-radius: 10px;
      }
      @include mobile {
        width: 160px;
        height: 160px;
        margin: 0 auto 50px;
      }
    }
    &-name {
      margin: 0;
      margin-top: 5px;
    }
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dotted var(--text-color);
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    &-date {
      margin: 0;
      margin-bottom: 20px;
      @include small-tablet {
        margin-bottom: 0;
      }
    }
    &-reply {
      color: var(--dark-color);
      font-weight: 500;
    }
  }
  &__respond {
    margin: 70px 0;
    &-form {
      max-width: 700px;
      margin: 0 auto;
      border-radius: 10px;
      padding: 20px;
      @include form-shadow;
      text-align: center;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      @include mobile {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
      }
    }
    &-input {
      max-width: 220px;
    }
    &-textarea {
      margin: 0;
      margin-bottom: 20px;
      width: 100%;
      height: 200px;
      @include form-shadow;
      border: 1px solid #e8e8e8;
      padding: 20px;
      border-radius: 10px;
      resize: none;
    }
  }
}
.pagination {
  margin-top: 50px;
}
