.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 25px;
  width: 100%;
  max-width: 400px;
  @include form-shadow;
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  @include for-desktop {
    &:hover,
    &:focus {
      @include shadow;
      transform: scale(1.05);
    }
  }
  &__container {
    @include for-desktop {
      display: flex;
    }
  }
  &__map {
    max-width: 700px;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background-image: url("../img/border.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-desktop {
      margin: 0 10px;
    }
  }
  &__section {
    margin: 120px 0 100px;
  }

  &__title {
    margin: 0;
    color: var(--dark-color);
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
  }
  &__img {
    border-radius: 50%;
    padding: 10px;
    margin: auto;
    @include form-shadow;
    &-price {
      padding: 5px;
    }
  }
  &__input {
    border-radius: 5px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    @include form-shadow;
    color: var(--dark-color);
    &:hover {
      transform: scale(1.05);
    }
    @include small-tablet {
      height: 50px;
      padding: 0 16px;
      font-size: 14px;
    }
    &::placeholder {
      color: rgba(40, 41, 68, 0.7);
      color: var(--dark-color);
    }
  }
  &__cities {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 64px;
    align-items: center;
    border-radius: 5px;
    margin: 3px 0;
    transition: all 0.3s ease-in-out;
    @include form-shadow;
    @include small-tablet {
      height: 50px;
      padding: 0 16px;
      font-size: 14px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  &__label {
    display: flex;
    flex-direction: column-reverse;
  }
  .just-validate-error-label {
    color: var(--light-color) !important;
    margin-bottom: 3px;
  }
  &__checkbox {
    &-name {
      color: var(--dark-color);
      font-weight: 500;
    }
  }
}
