.location {
  padding: 100px 0 50px;
  @include sub-shadow;
  @include tablet {
    border-bottom: 1px solid var(--light-color);
  }
  @include mobile {
    padding: 100px 0 50px;
  }
  &__item {
    width: 50%;
    margin: 0 auto;
  }
}
