.order {
  height: 800px;
  position: relative;
  @include sub-shadow;
  @include tablet {
    padding: 120px 0 50px;
    border-bottom: 1px solid var(--light-color);
  }
  @include mobile {
    height: 600px;
    padding: 100px 0 50px;
  }
  &__container {
    height: 100%;
  }
  &__img {
    width: 500px;
    border-bottom-left-radius: 25px;
    @include tablet {
      margin-left: 211px;
    }
    @include mobile {
      margin-left: 50px;
    }
  }
  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include tablet {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 50px;
    }
  }
  &__content {
    text-align: center;
  }
  &__title {
    max-width: 500px;
    margin: 0;
    line-height: 130%;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--dark-color);
    @include tablet {
      font-size: 23px;
    }
    @include small-tablet {
      font-size: 22px;
    }
    @include mobile {
      font-size: 18px;
    }
  }
  &__subtitle {
    margin-bottom: 30px;
  }
  &__btn {
    animation: pulse 3s ease infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.05);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}
