input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
  cursor: pointer;
  &:checked {
    border: 6px solid var(--dark-color);
  }
}

button,
legend {
  color: white;
  background-color: var(--dark-color);
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}

button {
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    color: var(--dark-color);
  }
  &:active {
    background-color: white;
    color: black;
    outline: 1px solid var(--dark-color);
  }
}
