.hide {
  display: none;
}
.readmore-btn {
  background-color: transparent;
  color: var(--dark-color);
  font-weight: 800;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  margin-bottom: 10px;
}
.dots {
  color: var(--text-color);
}
.dots,
.more {
  animation: fade 0.5s ease-in;
}
