.hide {
  display: none;
}
.readmore-btn {
  background-color: transparent;
  color: var(--dark-color);
  font-weight: 800;
  font-size: 14px;
  padding: 0;
}
.dots {
  color: var(--dark-color);
  margin-left: 5px;
}
.dots,
.more {
  animation: fade 0.5s ease-in-out;
}
