.reviews {
  padding: 100px 0 50px;
  @include tablet {
    border-bottom: 1px solid var(--light-color);
  }
  @include mobile {
    padding: 100px 0 50px;
  }
  &__item {
    margin-bottom: 100px;
    @include small-tablet {
      margin-bottom: 50px;
    }

    &-img {
      margin-right: 40px;
      height: 200px;
      @include shadow;
      border-radius: 10px;
      float: left;
      margin-bottom: 10px;
    }
    &-title {
      margin: 0;
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
  &__arrow {
    width: 15px;
    height: 15px;
  }
}
