<section class="about">
  <div class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs__inner">
        <ul class="breadcrumbs__list list-reset">
          <li><a href="/">Головна</a></li>
          <li><span>Про компанію</span></li>
        </ul>
      </div>
    </div>
    <h1 class="main-title--light main-title--center">Наша команда</h1>
    <img
      loading="lazy"
      src="./img/about.png"
      class="image about__img"
      width="100%"
      height="100px"
      alt="about"
    />
    <div class="about__inner">
      <div class="about__item">
        <div class="about__circle"></div>
        <ul class="about__list list-reset">
          Працівники
          <li class="about__list-item">Співпраця</li>
          <li class="about__list-item">Відносини</li>
          <li class="about__list-item">Довірлівість</li>
          <li class="about__list-item">Довсідченість</li>
          <li class="about__list-item">Пунктуальність</li>
        </ul>
      </div>
      <div class="about__item">
        <div class="about__circle"></div>
        <ul class="about__list list-reset">
          Гроші
          <li class="about__list-item">Стабілність</li>
          <li class="about__list-item">Краща ціна</li>
          <li class="about__list-item">Оптові знижки</li>
          <li class="about__list-item">Стабільна оплата</li>
          <li class="about__list-item">Оплата в вашу користь</li>
        </ul>
      </div>
      <div class="about__item">
        <div class="about__circle"></div>
        <ul class="about__list list-reset">
           Час
          <li class="about__list-item">Миттєва оплата</li>
          <li class="about__list-item">Своєчасний приїзд</li>
          <li class="about__list-item">Праця без вихідних</li>
          <li class="about__list-item">Швидке взважування</li>
          <li class="about__list-item">Тривалий режим роботи</li>
        </ul>
      </div>
    </div>
    <h1 class="main-title--light main-title--center">Наша команда</h1>
    <p class="item-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
      quasi officiis aperiam culpa deleniti pariatur provident porro, labore
      recusandae ipsa maiores? Voluptatibus alias provident voluptate quisquam
      quos! At, hic maiores! Tenetur rerum quam voluptas qui pariatur distinctio
      accusantium fuga! Quia minima quibusdam, accusamus consequuntur rem
      praesentium corporis soluta ipsam aperiam dolorum maiores repellendus
      molestias eum quidem. Dolorem explicabo perferendis quidem. Culpa
      perspiciatis distinctio est autem accusamus consequatur modi dicta quae
      natus ullam dolorum illum tempora earum quo, atque aperiam odio veniam
      expedita architecto itaque adipisci ut? Magnam voluptas eaque optio. Totam
      vel incidunt magnam, atque obcaecati laboriosam assumenda voluptatum sequi
      autem recusandae sint doloribus! Veniam tempore voluptatibus eaque optio
      adipisci ipsam iusto illo consequuntur excepturi. Tempore quisquam
      reprehenderit pariatur rerum. Assumenda enim obcaecati repudiandae. Est
      fugit odit delectus saepe aperiam incidunt dolor, at, odio totam harum id
      autem soluta nobis voluptate iste nisi dolore dicta pariatur illo natus
      libero voluptas. Perspiciatis totam repellat fugit velit provident id
      officia eius nulla, ipsum libero, quo consequuntur quis recusandae ex
      beatae cupiditate nostrum sapiente autem tenetur obcaecati? Repellendus
      eum vel consequatur! Ducimus, repudiandae. Doloremque fuga explicabo
      asperiores quae molestias? Ab exercitationem, velit quos voluptas odit
      labore id, harum suscipit animi iure ipsum beatae. Porro sed explicabo
      dolorem! Vitae voluptate doloribus non beatae temporibus. Nostrum illum
      molestias natus ad, id laudantium quas ducimus alias quo. Aliquam
      molestias quasi quaerat obcaecati dolorum sint vero nobis quia. Voluptatum
      accusantium assumenda numquam. Quas voluptatibus unde molestiae
      reprehenderit! Tempora, tenetur deleniti nulla repudiandae blanditiis
      pariatur illum fugit placeat odit accusamus, optio dicta asperiores
      numquam recusandae aliquam repellat id, quidem velit praesentium vel quo
      veritatis neque sequi. Quos, sunt. Aperiam id non tempora ipsa est minima
      quis assumenda sed beatae ipsum quae dolor et hic impedit alias illum
      natus aut, sunt dicta odio reprehenderit exercitationem quibusdam error
      necessitatibus! Nobis.
    </p>
  </div>
</section>
