<section class="about">
  <div class="container">
    <h1 class="main-title--light main-title--center">Наша команда</h1>
    <img
      loading="lazy"
      src="./img/about.png"
      class="image about__img"
      width="100%"
      height="100px"
      alt="about"
    />
    <div class="about__inner">
      <div class="about__item">
        <div class="about__circle"></div>
        <ul class="about__list list-reset">
          Працівники
          <li class="about__list-item">Співпраця</li>
          <li class="about__list-item">Відносини</li>
          <li class="about__list-item">Довірлівість</li>
          <li class="about__list-item">Довсідченість</li>
          <li class="about__list-item">Пунктуальність</li>
        </ul>
      </div>
      <div class="about__item">
        <div class="about__circle"></div>
        <ul class="about__list list-reset">
          Гроші
          <li class="about__list-item">Стабілність</li>
          <li class="about__list-item">Краща ціна</li>
          <li class="about__list-item">Оптові знижки</li>
          <li class="about__list-item">Стабільна оплата</li>
          <li class="about__list-item">Оплата в вашу користь</li>
        </ul>
      </div>
      <div class="about__item">
        <div class="about__circle"></div>
        <ul class="about__list list-reset">
           Час
          <li class="about__list-item">Миттєва оплата</li>
          <li class="about__list-item">Своєчасний приїзд</li>
          <li class="about__list-item">Праця без вихідних</li>
          <li class="about__list-item">Швидке взважування</li>
          <li class="about__list-item">Тривалий режим роботи</li>
        </ul>
      </div>
    </div>
  </div>
</section>
