<!-- Accordion -->
<section class="price">
  <h1 class="main-title--light main-title--center">Прайс 2023</h1>
  <p class="main-subtitle main-subtitle--center">
    Пропонуємо подивитись основнi металопродукти,якi можливо вас зацiкавлять.
    <span class="price__subtitle"
      >(Ціни вказані від 100 кг даного металобрухту)</span
    >
  </p>
  <div class="accordion">
    <div class="accordion__item">
      <div class="accordion__item-trigger">
        <div class="trigger__num">1.</div>
        <div class="trigger__text">Мiдь</div>
        <div class="trigger__img">
          <span class="line1"></span>
          <span class="line2"></span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">M1/M2 (0.3%)</div>
        <div class="content__price">
          240 <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">MIKC (0.8%)</div>
        <div class="content__price">
          230 <span class="content__price-currency">грн.</span>
        </div>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion__item-trigger">
        <div class="trigger__num">2.</div>
        <div class="trigger__text">Латунь</div>
        <div class="trigger__img">
          <span class="line1"></span>
          <span class="line2"></span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">Латунь (1%)</div>
        <div class="content__price">
          156 <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">Радiатор (2%)</div>
        <div class="content__price">
          148 <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">Cтружка (3%)</div>
        <div class="content__price">
          148 <span class="content__price-currency">грн.</span>
        </div>
      </div>
    </div>

    <div class="accordion__item">
      <div class="accordion__item-trigger">
        <div class="trigger__num">3.</div>
        <div class="trigger__text">Алюміній</div>
        <div class="trigger__img">
          <span class="line1"></span>
          <span class="line2"></span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">Первичний (0.5%)</div>
        <div class="content__price">
          75 <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">Профільний (1%)</div>
        <div class="content__price">
          65 <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">Мiкс (1%)</div>
        <div class="content__price">
          39 <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">Радіатор розібраний (2%)</div>
        <div class="content__price">
          27 <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">Радіатор зібраний (50%)</div>
        <div class="content__price">
          <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">Баночка (3%)</div>
        <div class="content__price">
          27 <span class="content__price-currency">грн.</span>
        </div>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion__item-trigger">
        <div class="trigger__num">4.</div>
        <div class="trigger__text">Нержавіюча сталь</div>
        <div class="trigger__img">
          <span class="line1"></span>
          <span class="line2"></span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">NI - 10% (1%)</div>
        <div class="content__price">
          40 <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">NI - 8% (15%)</div>
        <div class="content__price">
          <span class="content__price-currency">грн.</span>
        </div>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion__item-trigger">
        <div class="trigger__num">5.</div>
        <div class="trigger__text">Свинцевi</div>
        <div class="trigger__img">
          <span class="line1"></span>
          <span class="line2"></span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">Свинець (1%)</div>
        <div class="content__price">
          40 <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">АКБ (2-17%)</div>
        <div class="content__price">
          23
          <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">АКГ (1%)</div>
        <div class="content__price">
          17
          <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">АКЧ (1%)</div>
        <div class="content__price">
          15
          <span class="content__price-currency">грн.</span>
        </div>
      </div>
    </div>
    <div class="accordion__item">
      <div class="accordion__item-trigger">
        <div class="trigger__num">6.</div>
        <div class="trigger__text">Інше</div>
        <div class="trigger__img">
          <span class="line1"></span>
          <span class="line2"></span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">ЦАМ (5%)</div>
        <div class="content__price">
          35 <span class="content__price-currency">грн.</span>
        </div>
      </div>
      <div class="accordion__item-content">
        <div class="content__text">ТНЖ (1%)</div>
        <div class="content__price">
          22
          <span class="content__price-currency">грн.</span>
        </div>
      </div>
    </div>
  </div>
</section>
