<section class="benefits">
  <div class="container">
    <h1 class="main-title--center">НАШІ ДОСЯГНЕННЯ</h1>
    <div class="benefits__items">
      <div class="benefits__item">
        <div class="image-wrapper">
          <img
            loading="lazy"
            src="img/clock.svg"
            class="image benefits__img"
            width="70px"
            height="70px"
            alt="lock-image"
          />
        </div>
        <h5 class="benefits__item--title">8 рокiв на ринку</h5>
        <p class="item-text">
          Наш досвід дає клієнтам гарну співпрацю на довги роки.З вами завжди
          можливо домовитися.
        </p>
      </div>
      <div class="benefits__item">
        <div class="image-wrapper">
          <img
            loading="lazy"
            src="img/dollar.svg"
            class="image benefits__img"
            width="70px"
            height="70px"
            alt="dollar-image"
          />
        </div>

        <h5 class="benefits__item--title">Найвигідніші ціни</h5>
        <p class="item-text">
          Ми впевнені,що є лідарами цін в Дніпрі та області,в сфері прийому
          металобрухту.
        </p>
      </div>
      <div class="benefits__item">
        <div class="image-wrapper">
          <img
            loading="lazy"
            src="img/clients.svg"
            class="image benefits__img"
            width="70px"
            height="70px"
            alt="cubic-image"
          />
        </div>
        <h5 class="benefits__item--title">30000+ Клієнтів</h5>
        <p class="item-text">
          Відсоток людей,які навздалегіть становляться нашими постійнімі
          клієнтами,більше 90%.
        </p>
      </div>
      <div class="benefits__item">
        <div class="image-wrapper">
          <img
            loading="lazy"
            src="img/cart.svg"
            class="image benefits__img"
            width="70px"
            height="70px"
            alt="clock-image"
          />
        </div>
        <h5 class="benefits__item--title">Утилізували</h5>
        <p class="item-text">
          У 2022 році приблизно 740000+ М³ Побутовіх Відходів Дніпрі та
          Дніпровській області.
        </p>
      </div>
      <div class="benefits__item">
        <div class="image-wrapper">
          <img
            loading="lazy"
            src="img/dollar.svg"
            class="image benefits__img"
            width="70px"
            height="70px"
            alt="dollar-image"
          />
        </div>

        <h5 class="benefits__item--title">Найвигідніші ціни</h5>
        <p class="item-text">
          Ми впевнені,що є лідарами цін в Дніпрі та області,в сфері прийому
          металобрухту.
        </p>
      </div>
      <div class="benefits__item">
        <div class="image-wrapper">
          <img
            loading="lazy"
            src="img/dollar.svg"
            class="image benefits__img"
            width="70px"
            height="70px"
            alt="dollar-image"
          />
        </div>

        <h5 class="benefits__item--title">Найвигідніші ціни</h5>
        <p class="item-text">
          Ми впевнені,що є лідарами цін в Дніпрі та області,в сфері прийому
          металобрухту.
        </p>
      </div>
    </div>
  </div>
</section>
