<section class="benefits">
  <div class="container">
    <h1 class="benefits__title">НАШІ ДОСЯГНЕННЯ</h1>
    <p class="main-subtitle benefits__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, imperdiet
      mauris nunc viverra ultrices. Donec
    </p>
    <div class="benefits__items">
      <div class="benefits__item">
        <img
          loading="lazy"
          src="img/clock.svg"
          class="image benefits__img"
          width="70px"
          height="70px"
          alt="lock-image"
        />
        <h5 class="benefits__item--title">8 рокiв на ринку</h5>
        <a href="#" class="benefits__item--title">Читати далi</a>
        <p class="benefits__item--text">
          At nam minimum ponderum. Est audiam animal molestiae te. Ex duo
          eripuit mentitum.
        </p>
      </div>
      <div class="benefits__item">
        <img
          loading="lazy"
          src="img/dollar.svg"
          class="image benefits__img"
          width="70px"
          height="70px"
          alt="dollar-image"
        />
        <h5 class="benefits__item--title">Найвигідніші ціни</h5>
        <p class="benefits__item--text">
          At nam minimum ponderum. Est audiam animal molestiae te. Ex duo
          eripuit mentitum.
        </p>
      </div>
      <div class="benefits__item">
        <img
          loading="lazy"
          src="img/clients.svg"
          class="image benefits__img"
          width="70px"
          height="70px"
          alt="cubic-image"
        />
        <h5 class="benefits__item--title">30000+ КЛІЄНТІВ</h5>
        <p class="benefits__item--text">
          At nam minimum ponderum. Est audiam animal molestiae te. Ex duo
          eripuit mentitum.
        </p>
      </div>
      <div class="benefits__item">
        <img
          loading="lazy"
          src="img/cart.svg"
          class="image benefits__img"
          width="70px"
          height="70px"
          alt="clock-image"
        />
        <h5 class="benefits__item--title">
          650000+ М³ ПОБУТОВИХ ВІДХОДІВ УТИЛІЗУВАЛИ
        </h5>
        <p class="benefits__item--text">
          At nam minimum ponderum. Est audiam animal molestiae te. Ex duo
          eripuit mentitum.
        </p>
      </div>
    </div>
  </div>
</section>
