<section class="blog-single">
  <div class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs__inner">
        <ul class="breadcrumbs__list list-reset">
          <li><a href="/">Головна</a></li>
          <li><span>Title Of The Page </span></li>
        </ul>
      </div>
    </div>
    <h2 class="main-title--light main-title--center">Title Of The Page</h2>
    <div class="blog-single__wrapper">
      <div class="blog-single__inner">
        <img
          loading="lazy"
          src="./img/med.jpeg"
          class="image blog-single__img"
          width="100%"
          height="400px"
          alt="copper"
        />
        <div class="blog__info">
          <div class="blog__info-date">
            <img
              loading="lazy"
              src="./img/clock.svg"
              class="blog__image-date"
            />
            <span class="blog__info-text">17 Sep 2023</span>
          </div>
          <div class="blog__info-comments">
            <img
              loading="lazy"
              src="./img/comment.png"
              class="blog__image-date"
            />
            <span class="blog__info-text">11</span>
          </div>
          <div class="blog__info-author">
            <img
              loading="lazy"
              src="./img/user.png"
              class="blog__image-date"
              alt="user"
            />
            <span class="blog__info-text">Admin</span>
          </div>
        </div>
      </div>

      <p class="item-text">
        Мідь – це вид важкого металу, перевага якого – хороша електро- та
        теплопровідність. Порівняно з алюмінієм електропровідність у 1,7 раза
        вища. У чистому вигляді матеріал відрізняється м’якістю та пластичністю.
        Щоб надати йому твердості, сплав додають домішки. Кольоровий метал не
        магнітиться, здатний витримувати вплив значних температур (плавитися
        починає за 1083оС), а також стійкий до явища корозії. Чистий продукт
        легко обробляється – з нього виготовляють дріт чи найтонші металеві
        листи. Лом міді вважається одним із найцінніших. Тому, якщо в гаражі або
        на складі припадає пилом непотрібний метал, можна дорого продати його
        компанії Гармет. У нас ціна міді у Запоріжжі – поза конкуренцією.
        Підприємство готове дорого купити різні мідні відходи.
      </p>
      <p class="item-text">
        Мідь – це вид важкого металу, перевага якого – хороша електро- та
        теплопровідність. Порівняно з алюмінієм електропровідність у 1,7 раза
        вища. У чистому вигляді матеріал відрізняється м’якістю та пластичністю.
        Щоб надати йому твердості, сплав додають домішки. Кольоровий метал не
        магнітиться, здатний витримувати вплив значних температур (плавитися
        починає за 1083оС), а також стійкий до явища корозії. Чистий продукт
        легко обробляється – з нього виготовляють дріт чи найтонші металеві
        листи. Лом міді вважається одним із найцінніших. Тому, якщо в гаражі або
        на складі припадає пилом непотрібний метал, можна дорого продати його
        компанії Гармет. У нас ціна міді у Запоріжжі – поза конкуренцією.
        Підприємство готове дорого купити різні мідні відходи.
      </p>
      <ul class="blog__list">
        <h4 class="blog__list-title">List Title</h4>
        <li class="blog__list-item">Lorem ipsum dolor sit amet consectetur</li>
        <li class="blog__list-item">Lorem ipsum dolor sit amet consectetur</li>
        <li class="blog__list-item">Lorem ipsum dolor sit amet consectetur</li>
        <li class="blog__list-item">Lorem ipsum dolor sit amet consectetur</li>
        <li class="blog__list-item">Lorem ipsum dolor sit amet consectetur</li>
      </ul>
      <p class="item-text">
        Мідь – це вид важкого металу, перевага якого – хороша електро- та
        теплопровідність. Порівняно з алюмінієм електропровідність у 1,7 раза
        вища. У чистому вигляді матеріал відрізняється м’якістю та пластичністю.
        Щоб надати йому твердості, сплав додають домішки. Кольоровий метал не
        магнітиться, здатний витримувати вплив значних температур (плавитися
        починає за 1083оС), а також стійкий до явища корозії. Чистий продукт
        легко обробляється – з нього виготовляють дріт чи найтонші металеві
        листи. Лом міді вважається одним із найцінніших. Тому, якщо в гаражі або
        на складі припадає пилом непотрібний метал, можна дорого продати його
        компанії Гармет. У нас ціна міді у Запоріжжі – поза конкуренцією.
        Підприємство готове дорого купити різні мідні відходи.
      </p>
    </div>
    <div class="blog-single__bottom">
      <div class="blog-single__category">
        Категорія: <span>TOП-10</span> Теги: <span>Медь, Виробництво </span>
      </div>
      <div class="blog__share">
        <h4>Поділитися:</h4>
        <a class="image-wrapper blog__image-wrapper" href="">
          <img src="./img/svg/telegram.svg" alt="" />
        </a>
        <a class="image-wrapper blog__image-wrapper" href="">
          <img src="./img/svg/viber.svg" alt="" />
        </a>
        <a class="image-wrapper blog__image-wrapper" href="">
          <img src="./img/svg/telegram.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
