<section class="steel">
  <div class="container">
    <h1 class="main-title--light main-title--center">Мідь</h1>
    <img
      loading="lazy"
      src="./img/med.jpeg"
      class="image steel__img"
      width="100%"
      height="400px"
      alt="copper"
    />
    <h1 class="main-title--light main-title--center steel__title">
      Основні характеристики:
    </h1>
    <p class="item-text">
      Мідь – це вид важкого металу, перевага якого – хороша електро- та
      теплопровідність. Порівняно з алюмінієм електропровідність у 1,7 раза
      вища. У чистому вигляді матеріал відрізняється м’якістю та пластичністю.
      Щоб надати йому твердості, сплав додають домішки. Кольоровий метал не
      магнітиться, здатний витримувати вплив значних температур (плавитися
      починає за 1083оС), а також стійкий до явища корозії. Чистий продукт легко
      обробляється – з нього виготовляють дріт чи найтонші металеві листи. Лом
      міді вважається одним із найцінніших. Тому, якщо в гаражі або на складі
      припадає пилом непотрібний метал, можна дорого продати його компанії
      Гармет. У нас ціна міді у Запоріжжі – поза конкуренцією. Підприємство
      готове дорого купити різні мідні відходи.
    </p>
  </div>
</section>
