<footer class="footer">
  <div class="container">
    <div class="footer__links">
      <ul class="footer__list list-reset">
        ТОВ Схiд-Лом
        <li class="footer__list--item">
          <a href="#form" class="footer__list-link"
            ><div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#request"></use>
              </svg>
            </div>
            Залишити заявку
          </a>
        </li>
        <li class="footer__list--item">
          <a href="../#price" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#price"></use>
              </svg>
            </div>
            Прайс
          </a>
        </li>
        <li class="footer__list--item">
          <a href="../about.html" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#company"></use>
              </svg>
            </div>
            Про компанiю
          </a>
        </li>
        <li class="footer__list--item">
          <a href="../location.html" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#location"></use>
              </svg>
            </div>
            Адреса
          </a>
        </li>
        <li class="footer__list--item">
          <a href="../blog.html" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#article"></use>
              </svg>
            </div>
            Усi статті
          </a>
        </li>
        <li class="footer__list--item">
          <a href="../questions.html" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#question"></use>
              </svg>
            </div>
            Основнi запитання
          </a>
        </li>
      </ul>
      <ul class="footer__list list-reset">
        Основной брухт
        <li class="footer__list--item">
          <a href="./copper.html" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#copper"></use>
              </svg>
            </div>
            Мiдь</a
          >
        </li>
        <li class="footer__list--item">
          <a href="#" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#aluminum"></use>
              </svg>
            </div>
            Алюміній</a
          >
        </li>

        <li class="footer__list--item">
          <a href="#" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#latun"></use>
              </svg>
            </div>
            Латунь</a
          >
        </li>
        <li class="footer__list--item">
          <a href="#" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#steel"></use>
              </svg>
            </div>
            Нержавiюча сталь</a
          >
        </li>
      </ul>
      <ul class="footer__list list-reset">
        Брухт
        <li class="footer__list--item">
          <a href="#" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#cable"></use>
              </svg>
            </div>
            Брухт кабелю</a
          >
        </li>
        <li class="footer__list--item">
          <a href="#" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#mplata"></use>
              </svg>
            </div>
            Електронний брухт</a
          >
        </li>
        <li class="footer__list--item">
          <a href="#" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#elmotor"></use>
              </svg>
            </div>
            Електродвигуни б/в</a
          >
        </li>
        <li class="footer__list--item">
          <a href="#" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#elaccum"></use>
              </svg>
            </div>
            Автоаккумулятори б/в</a
          >
        </li>
        <li class="footer__list--item">
          <a href="#" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#another"></use>
              </svg>
            </div>
            Інші види брухту</a
          >
        </li>
      </ul>
      <ul class="footer__list list-reset">
        Контакти
        <li class="footer__list--item">
          <a
            class="header__info-link footer__list-link"
            href="tel:+380955392000"
          >
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
            </div>
            Дзвінок</a
          >
        </li>
        <li class="footer__list--item">
          <a href="https://t.me/semen1555" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </div>
            Telegram</a
          >
        </li>
        <li class="footer__list--item">
          <a
          href="viber://chat/?number=+380955392000"
            class="footer__list-link"
          >
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#viber"></use>
              </svg>
            </div>
            Viber</a
          >
        </li>
        <li class="footer__list--item">
          <a href="mailto:golovin_86@ukr.net" class="footer__list-link">
            <div class="image-wrapper footer__image-wrapper">
              <svg class="footer__image image">
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
            </div>
            Пошта
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">
        © Схід-Лом
        <span>2023. Всі права захищені.</span>
      </div>
      <a href="#" class="footer__politic-link">Полiтика конфiденцiйностi</a>
      <a href="https://github.com/ivannikovlg13" class="footer__list-link">
        <div class="image-wrapper footer__image-wrapper">
          <svg class="footer__image image">
            <use xlink:href="img/sprite.svg#author"></use>
          </svg>
        </div>
        Розробник
      </a>
      </div>
    </div>
  </div>
</footer>
