<header class="header" id="header">
  <div class="container header__container">
    <a href="./" class="header__logo" title="Лого">
      <span class="header__nav-name">Сxiд</span>
      <img
        loading="lazy"
        src="img/svg/logo.svg"
        class="image"
        width="40px"
        height="40px"
        alt="logo"
      />
      <span class="header__nav-name">Лом</span>
    </a>

    <nav class="nav header__nav" title="Меню" data-menu>
      <ul class="nav__list list-reset header__list">
        <li class="nav__item header__item--withmenu">
          <a
            href="#"
            class="nav__link header__link header__link--withmenu"
            data-menu-item
            data-scroll
            >БРУХТ КОЛЬОРОВИХ МЕТАЛІВ
            <svg class="submenu__arrow">
              <use xlink:href="img/sprite.svg#header-arrow"></use>
            </svg>
          </a>
          <ul class="submenu list-reset">
            <li class="submenu__item">
              <a href="#copper" class="submenu__link">Мiдь</a>
            </li>
            <li class="submenu__item">
              <a href="#offers" class="submenu__link">Алюмiнiй</a>
            </li>
            <li class="submenu__item">
              <a href="#offers" class="submenu__link">Латунь</a>
            </li>
            <li class="submenu__item">
              <a href="#offers" class="submenu__link">Нержавiюча сталь</a>
            </li>
            <li class="submenu__item">
              <a href="#offers" class="submenu__link">Брухт кабелю</a>
            </li>
            <li class="submenu__item">
              <a href="#offers" class="submenu__link">Iншi види брухту</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a
            href="../#price"
            class="nav__link header__link header__link-price"
            title="Прайс "
            data-menu-item
            data-scroll
            >Прайс</a
          >
        </li>
        <li class="nav__item">
          <a
            href="../about.html"
            class="nav__link header__link"
            title="Про компанiю"
            data-menu-item
            data-scroll
            >Про компанiю</a
          >
        </li>
        <li class="nav__item nav__item-mobile">
          <a
            href="./location.html"
            class="nav__link header__link"
            title="Контакти"
            data-menu-item
            data-scroll
            >Контакти</a
          >
        </li>
        <ul class="nav__lang-menu list-reset" title="Язик">
          <li class="current"><a href="#">UA</a></li>
          <li><a href="#">RU</a></li>
        </ul>
      </ul>

      <div class="header__info" title="Телефон">
        <a class="header__info-link" href="tel:+380955392000">
          <svg class="header__image footer__image image">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          +380955392000</a
        >
      </div>
    </nav>
    <button
      class="burger btn-reset"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
