<section class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero__item">
      <img
        loading="lazy"
        src="./img/bg.jpg"
        class="image hero__img"
        width="750px"
        alt="hero"
      />
      <div class="hero__inner">
        <div class="swiper hero__slider">
          <div class="swiper-wrapper hero__wrapper">
            <div class="swiper-slide hero__content">
              <h2 class="hero__title">
                Прийом кольорового металобрухту по всій території Україні
              </h2>
            </div>
            <div class="swiper-slide hero__content">
              <h2 class="hero__title">
                Прийом кольорового металобрухту по всій території Україні
              </h2>
            </div>
            <div class="swiper-slide hero__content">
              <h2 class="hero__title">
                Прийом кольорового металобрухту по всій території Україні
              </h2>
            </div>
          </div>
        </div>
        <div class="hero__btn">
          <h4 class="main-subtitle hero__subtitle">Залишити заявку на вивіз</h4>
          <a href="#form" class="btn hero__btn">Залишити заявку</a>
        </div>
      </div>
    </div>
  </div>
</section>
