<section class="information">
  <div class="container">
    <h2 class="benefits__title">Як здати металобрухт у Запоріжжі?</h2>
    <p class="information__text">
      Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
      компанії. Ми оперативно приймемо замовлення, обумовивши умови, призначимо
      дату. Здавання великої кількості брухту пов’язане з необхідністю залучення
      вантажного транспорту або спеціальної вантажної техніки. Іноді для
      спрощення транспортування великогабаритних відходів потрібні послуги
      різьбяра. Звертаючись за допомогою до професіоналів, ви отримуєте весь
      спектр послуг. Нашим клієнтам не потрібно думати, як здати брухт у
      Запоріжжі, адже ми готові зробити це за них. При цьому неважливо, як
      далеко ви розташовані від нашої бази, ми вивеземо всі необхідні відходи.
      Часто при великих обсягах металобрухту самовивіз виявляється безкоштовним.
      Здача відходів до пункту прийому металобрухту в Запоріжжі здійснюється в
      наступній послідовності:
    </p>
    <ol class="information__list-num information__lists">
      <li class="information__list-item">
        Необхідно зателефонувати до компанії та залишити заявку на вивезення
        металевих відходів, вказавши перелік необхідних робіт, приблизний обсяг
        брухту та його місцезнаходження.
      </li>
      <li class="information__list-item">
        Фахівець безкоштовно виїжджає на майданчик і проводить оцінку обсягів і
        якості металобрухту, при необхідності здійснюється навантаження
        відходів, що здаються.
      </li>
      <li class="information__list-item">
        За наявності великогабаритних відходів надається послуга різання та
        демонтажу.
      </li>
      <li class="information__list-item">
        Проводиться хімічний аналіз зразків для з’ясування їхньої чистоти та
        стабільності структури. Усі роботи виконуються із використанням
        сучасного обладнання.
      </li>
      <li class="information__list-item">
        У разі співробітництва з юридичною особою здійснюється підготовка
        комерційної пропозиції та договору на скупку металу.
      </li>
      <li class="information__list-item">
        Здійснюється транспортування брухту з об’єкта. Послугу можна замовити у
        нашій компанії або здійснити перевезення самостійно.
      </li>
      <li class="information__list-item">
        Після транспортування брухту на базу проводиться зважування на
        високоточних вагах і остаточний розрахунок вартості.
      </li>
    </ol>
    <h2 class="benefits__title">Як здати металобрухт у Запоріжжі?</h2>
    <p class="information__text">
      Компанія «Гармет» здійснює купівлю/продаж металобрухту в Запоріжжі на
      найвигідніших умовах. Ми працюємо на підставі ліцензії та повністю
      дотримуємося чинного законодавства. Здійснюємо прийом кольорового
      металобрухту у Запоріжжі наступних видів:
    </p>
    <ul class="information__list information__lists">
      <li class="information__list-item">мідь</li>
      <li class="information__list-item">латунь</li>
      <li class="information__list-item">бронза</li>
      <li class="information__list-item">алюміній</li>
      <li class="information__list-item">нержавіюча сталь</li>
      <li class="information__list-item">свинець</li>
      <li class="information__list-item">олово</li>
      <li class="information__list-item">магній</li>
      <li class="information__list-item">цинк</li>
      <li class="information__list-item">титан</li>
    </ul>
    <h2 class="benefits__title">Як здати металобрухт у Запоріжжі?</h2>
    <p class="information__text">
      Компанія «Гармет» здійснює купівлю/продаж металобрухту в Запоріжжі на
      найвигідніших умовах. Ми працюємо на підставі ліцензії та повністю
      дотримуємося чинного законодавства. Здійснюємо прийом кольорового
      металобрухту у Запоріжжі наступних видів:
    </p>
    <ul class="information__list information__lists">
      <li class="information__list-item">мідь</li>
      <li class="information__list-item">латунь</li>
      <li class="information__list-item">бронза</li>
      <li class="information__list-item">алюміній</li>
      <li class="information__list-item">нержавіюча сталь</li>
      <li class="information__list-item">свинець</li>
      <li class="information__list-item">олово</li>
      <li class="information__list-item">магній</li>
      <li class="information__list-item">цинк</li>
      <li class="information__list-item">титан</li>
    </ul>
    <h2 class="benefits__title">Як здати металобрухт у Запоріжжі?</h2>
    <p class="information__text">
      Компанія «Гармет» здійснює купівлю/продаж металобрухту в Запоріжжі на
      найвигідніших умовах. Ми працюємо на підставі ліцензії та повністю
      дотримуємося чинного законодавства. Здійснюємо прийом кольорового
      металобрухту у Запоріжжі наступних видів:
    </p>
    <ul class="information__list">
      <li class="information__list-item">мідь</li>
      <li class="information__list-item">латунь</li>
      <li class="information__list-item">бронза</li>
      <li class="information__list-item">алюміній</li>
      <li class="information__list-item">нержавіюча сталь</li>
      <li class="information__list-item">свинець</li>
      <li class="information__list-item">олово</li>
      <li class="information__list-item">магній</li>
      <li class="information__list-item">цинк</li>
      <li class="information__list-item">титан</li>
    </ul>
  </div>
</section>
