<div class="graph-modal">
  <div
    class="graph-modal__container popup"
    role="dialog"
    aria-modal="true"
    data-graph-target="popup"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    >
      <img src="img/close.svg" alt="close-picture" />
    </button>
    <div class="graph-modal__content">
      <h1 class="popup__title"></h1>
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <img
              loading="lazy"
              id="popup__image"
              src="img/alum.jpeg"
              class="image"
              width="100%"
              height="250px"
              alt="metall"
            />
          </picture>
        </div>
      </div>
      <div class="popup__bottom">
        <h1 class="main-title--popup">Інфрормація для здавання</h1>
        <div class="tabs" data-tabs="popup">
          <div class="tabs__menu">
            <ul class="tabs__nav list-reset">
              <li class="tabs__nav-item">
                <button class="tabs__nav-btn btn-reset" type="button">
                  Ціни
                </button>
              </li>
              <li class="tabs__nav-item">
                <button class="tabs__nav-btn btn-reset" type="button">
                  Постачальникам брухту
                </button>
              </li>
              <li class="tabs__nav-item">
                <button class="tabs__nav-btn btn-reset" type="button">
                  Постійним клієнтам
                </button>
              </li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content">
                <div class="popup__descr">
                  <h3 class="popup__subtitle">
                    Ціни на прийом у Києві та Дніпрі
                  </h3>
                  <p class="popup__text">
                      Вартість вторинної сировини залежить не тільки від її
                      виду та якості, а й від політики конкретного пункту прийому.
                      Ціна за кг в одній організації відрізнятиметься від вартості
                      в іншій. Наша компанія має великий досвід роботи на ринку
                      вторинної сировини в галузі скуповування та переробки
                      металів. За ці роки ми здобули безцінний досвід. Тому
                      знаємо, що запорука успіху – це лояльне ставлення до бази
                      клієнтів. Продати у нас алюміній на брухт ви зможете за
                      найприємнішою ціною.
                    </p>
                    <p class="popup__text">
                      Вартість med вторинної сировини залежить не тільки від її
                      виду та якості, а й від політики конкретного пункту прийому.
                      Ціна за кг в одній організації відрізнятиметься від вартості
                      в іншій. Наша компанія має великий досвід роботи на ринку
                      вторинної сировини в галузі скуповування та переробки
                      металів. За ці роки ми здобули безцінний досвід. Тому
                      знаємо, що запорука успіху – це лояльне ставлення до бази
                      клієнтів. Продати у нас алюміній на брухт ви зможете за
                      найприємнішою ціною.
                    </p>
                  </p>

                  <h4 class="popup__subtitle-list">
                    Вартість вторинної сировини залежить від типу металу та
                    області його використання:
                  </h4>
                  <ul class="popup__list list-reset">
                    <li class="popup__list-item">
                      Найдорожче коштує електротехнічний колірмет без ізоляції
                      та забруднень
                    </li>
                    <li class="popup__list-item">
                      Найдорожче коштує електротехнічний колірмет без ізоляції
                      та забруднень
                    </li>
                    <li class="popup__list-item">
                      Найдорожче коштує електротехнічний колірмет без ізоляції
                      та забруднень
                    </li>
                    <li class="popup__list-item">
                      Найдорожче коштує електротехнічний колірмет без ізоляції
                      та забруднень
                    </li>
                  </ul>
                  <p class="popup__text">
                    На ціноутворення впливає ступінь засміченості домішками і
                    обсяг партії, що поставляється. Ми зацікавлені у тривалій
                    співпраці, тому пропонуємо вигідніші розцінки постійним та
                    оптовим постачальникам. Детальну інформацію за цінами можна
                    у будь-який час отримати у наших менеджерів або ознайомитись
                    з нею самостійно на сайті компанії «Гармет». Переконайтеся,
                    що цінова політика компанії вам підходить. І вам не
                    доведеться порівнювати ціни на алюміній у пунктах прийому і
                    вишукувати найкращий варіант.
                  </p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content">
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995999 — Июнь 2000</p>
                  <p class="popup__text">
                    Санкт-Петербургский политехнический университет Петра
                    Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Специальность: Математика и компьютерные науки
                  </p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">
                    Санкт-Петербургский политехнический университет Петра
                    Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Специальность: Математика и компьютерные науки
                  </p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content">
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">
                    Санкт-Петербургский политехнический университет Петра
                    Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Специальность: Математика и компьютерные науки
                  </p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">
                    Санкт-Петербургский политехнический университет Петра
                    Великого
                  </p>
                  <p class="popup__text">
                    Факультет: Компьютерных наук и технологий
                  </p>
                  <p class="popup__text">
                    Специальность: Математика и компьютерные науки
                  </p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

