<section class="offers" id="offers">
  <div class="container">
    <h1 class="main-title--light main-title--center">
      БРУХТ КОЛЬОРОВИХ МЕТАЛІВ
    </h1>
    <p class="main-subtitle main-subtitle--center">
      Пропонуємо подивитись основнi металопродукти,якi можливо вас зацiкавлять.
    </p>
    <div class="offers__items">
      <div class="offers__item">
        <picture>
          <source srcset="img/alum.jpeg" type="image/avif" />
          <source srcset="img/alum.jpeg" type="image/webp" />
          <img
            loading="lazy"
            id="offers__img"
            src="img/alum.jpeg"
            class="image offers__img"
            width="100%"
            alt="alum"
          />
        </picture>
        <div class="offers__inner">
          <div class="offers__box">
            <span class="offers__title">Алюміній</span>
          </div>
          <p class="offers__text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
        <a href="#" class="offers__btn">
          <span class="offers__btn--text">Докладніше</span>
          <svg class="offers__arrow">
            <use xlink:href="img/sprite.svg#offers-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="offers__item">
        <picture>
          <source srcset="img/alum.jpeg" type="image/avif" />
          <source srcset="img/alum.jpeg" type="image/webp" />
          <img
            loading="lazy"
            id="offers__img"
            src="img/alum.jpeg"
            class="image offers__img"
            width="100%"
            alt="alum"
          />
        </picture>
        <div class="offers__inner">
          <div class="offers__box">
            <span class="offers__title">Алюміній</span>
          </div>
          <p class="offers__text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
        <a href="#" class="offers__btn">
          <span class="offers__btn--text">Докладніше</span>
          <svg class="offers__arrow">
            <use xlink:href="img/sprite.svg#offers-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="offers__item">
        <picture>
          <source srcset="img/alum.jpeg" type="image/avif" />
          <source srcset="img/alum.jpeg" type="image/webp" />
          <img
            loading="lazy"
            id="offers__img"
            src="img/alum.jpeg"
            class="image offers__img"
            width="100%"
            alt="alum"
          />
        </picture>
        <div class="offers__inner">
          <div class="offers__box">
            <span class="offers__title">Алюміній</span>
          </div>
          <p class="offers__text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
        <a href="#" class="offers__btn">
          <span class="offers__btn--text">Докладніше</span>
          <svg class="offers__arrow">
            <use xlink:href="img/sprite.svg#offers-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="offers__item">
        <picture>
          <source srcset="img/alum.jpeg" type="image/avif" />
          <source srcset="img/alum.jpeg" type="image/webp" />
          <img
            loading="lazy"
            id="offers__img"
            src="img/alum.jpeg"
            class="image offers__img"
            width="100%"
            alt="alum"
          />
        </picture>
        <div class="offers__inner">
          <div class="offers__box">
            <span class="offers__title">Алюміній</span>
          </div>
          <p class="offers__text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
        <a href="#" class="offers__btn">
          <span class="offers__btn--text">Докладніше</span>
          <svg class="offers__arrow">
            <use xlink:href="img/sprite.svg#offers-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="offers__item">
        <picture>
          <source srcset="img/alum.jpeg" type="image/avif" />
          <source srcset="img/alum.jpeg" type="image/webp" />
          <img
            loading="lazy"
            id="offers__img"
            src="img/alum.jpeg"
            class="image offers__img"
            width="100%"
            alt="alum"
          />
        </picture>
        <div class="offers__inner">
          <div class="offers__box">
            <span class="offers__title">Алюміній</span>
          </div>
          <p class="offers__text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
        <a href="#" class="offers__btn">
          <span class="offers__btn--text">Докладніше</span>
          <svg class="offers__arrow">
            <use xlink:href="img/sprite.svg#offers-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="offers__item">
        <picture>
          <source srcset="img/alum.jpeg" type="image/avif" />
          <source srcset="img/alum.jpeg" type="image/webp" />
          <img
            loading="lazy"
            id="offers__img"
            src="img/alum.jpeg"
            class="image offers__img"
            width="100%"
            alt="alum"
          />
        </picture>
        <div class="offers__inner">
          <div class="offers__box">
            <span class="offers__title">Алюміній</span>
          </div>
          <p class="offers__text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
        <a href="#" class="offers__btn">
          <span class="offers__btn--text">Докладніше</span>
          <svg class="offers__arrow">
            <use xlink:href="img/sprite.svg#offers-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="offers__item">
        <picture>
          <source srcset="img/alum.jpeg" type="image/avif" />
          <source srcset="img/alum.jpeg" type="image/webp" />
          <img
            loading="lazy"
            id="offers__img"
            src="img/alum.jpeg"
            class="image offers__img"
            width="100%"
            alt="alum"
          />
        </picture>
        <div class="offers__inner">
          <div class="offers__box">
            <span class="offers__title">Алюміній</span>
          </div>
          <p class="offers__text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
        <a href="#" class="offers__btn">
          <span class="offers__btn--text">Докладніше</span>
          <svg class="offers__arrow">
            <use xlink:href="img/sprite.svg#offers-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="offers__item">
        <picture>
          <source srcset="img/alum.jpeg" type="image/avif" />
          <source srcset="img/alum.jpeg" type="image/webp" />
          <img
            loading="lazy"
            id="offers__img"
            src="img/alum.jpeg"
            class="image offers__img"
            width="100%"
            alt="alum"
          />
        </picture>
        <div class="offers__inner">
          <div class="offers__box">
            <span class="offers__title">Алюміній</span>
          </div>
          <p class="offers__text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
        <a href="#" class="offers__btn">
          <span class="offers__btn--text">Докладніше</span>
          <svg class="offers__arrow">
            <use xlink:href="img/sprite.svg#offers-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
