<section class="order" id="order">
  <div class="container order__container">
    <div class="order__item">
      <img
        loading="lazy"
        src="./img/bg.jpg"
        class="image order__img"
        width="750px"
        alt="hero"
      />
      <div class="order__content">
        <h2 class="order__title">
          Прийом кольорового металобрухту по всій території Україні
        </h2>

        <h4 class="main-subtitle order__subtitle">Залишити заявку на вивіз</h4>
        <a href="./form.html" class="btn order__btn">Залишити заявку</a>
      </div>
    </div>
  </div>
</section>
