<section class="questions">
  <div class="container">
    <h1 class="main-title--light main-title--center">
      БРУХТ КОЛЬОРОВИХ МЕТАЛІВ
    </h1>
    <div class="accordion">
      <div class="accordion__item questions__item">
        <div class="accordion__item-trigger">
          <div class="trigger__text">Як здати металобрухт у Запоріжжі?</div>
          <div class="trigger__img">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </div>
        <div class="accordion__item-content item-text">
          Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
          компанії. Ми оперативно приймемо замовлення, обумовивши умови,
          призначимо дату. Здавання великої кількості брухту пов’язане з
          необхідністю залучення вантажного транспорту або спеціальної вантажної
          техніки. Іноді для спрощення транспортування великогабаритних відходів
          потрібні послуги різьбяра. Звертаючись за допомогою до професіоналів,
          ви отримуєте весь спектр послуг. Нашим клієнтам не потрібно думати, як
          здати брухт у Запоріжжі, адже ми готові зробити це за них. При цьому
          неважливо, як далеко ви розташовані від нашої бази, ми вивеземо всі
          необхідні відходи. Часто при великих обсягах металобрухту самовивіз
          виявляється безкоштовним. Здача відходів до пункту прийому
          металобрухту в Запоріжжі здійснюється в наступній послідовності:
        </div>
      </div>
      <div class="accordion__item questions__item">
        <div class="accordion__item-trigger">
          <div class="trigger__text">Як здати металобрухт у Запоріжжі?</div>
          <div class="trigger__img">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </div>
        <div class="accordion__item-content item-text">
          Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
          компанії. Ми оперативно приймемо замовлення, обумовивши умови,
          призначимо дату. Здавання великої кількості брухту пов’язане з
          необхідністю залучення вантажного транспорту або спеціальної вантажної
          техніки. Іноді для спрощення транспортування великогабаритних відходів
          потрібні послуги різьбяра. Звертаючись за допомогою до професіоналів,
          ви отримуєте весь спектр послуг. Нашим клієнтам не потрібно думати, як
          здати брухт у Запоріжжі, адже ми готові зробити це за них. При цьому
          неважливо, як далеко ви розташовані від нашої бази, ми вивеземо всі
          необхідні відходи. Часто при великих обсягах металобрухту самовивіз
          виявляється безкоштовним. Здача відходів до пункту прийому
          металобрухту в Запоріжжі здійснюється в наступній послідовності:
        </div>
      </div>
      <div class="accordion__item questions__item">
        <div class="accordion__item-trigger">
          <div class="trigger__text">Як здати металобрухт у Запоріжжі?</div>
          <div class="trigger__img">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </div>
        <div class="accordion__item-content item-text">
          Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
          компанії. Ми оперативно приймемо замовлення, обумовивши умови,
          призначимо дату. Здавання великої кількості брухту пов’язане з
          необхідністю залучення вантажного транспорту або спеціальної вантажної
          техніки. Іноді для спрощення транспортування великогабаритних відходів
          потрібні послуги різьбяра. Звертаючись за допомогою до професіоналів,
          ви отримуєте весь спектр послуг. Нашим клієнтам не потрібно думати, як
          здати брухт у Запоріжжі, адже ми готові зробити це за них. При цьому
          неважливо, як далеко ви розташовані від нашої бази, ми вивеземо всі
          необхідні відходи. Часто при великих обсягах металобрухту самовивіз
          виявляється безкоштовним. Здача відходів до пункту прийому
          металобрухту в Запоріжжі здійснюється в наступній послідовності:
        </div>
      </div>
      <div class="accordion__item questions__item">
        <div class="accordion__item-trigger">
          <div class="trigger__text">Як здати металобрухт у Запоріжжі?</div>
          <div class="trigger__img">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </div>
        <div class="accordion__item-content item-text">
          Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
          компанії. Ми оперативно приймемо замовлення, обумовивши умови,
          призначимо дату. Здавання великої кількості брухту пов’язане з
          необхідністю залучення вантажного транспорту або спеціальної вантажної
          техніки. Іноді для спрощення транспортування великогабаритних відходів
          потрібні послуги різьбяра. Звертаючись за допомогою до професіоналів,
          ви отримуєте весь спектр послуг. Нашим клієнтам не потрібно думати, як
          здати брухт у Запоріжжі, адже ми готові зробити це за них. При цьому
          неважливо, як далеко ви розташовані від нашої бази, ми вивеземо всі
          необхідні відходи. Часто при великих обсягах металобрухту самовивіз
          виявляється безкоштовним. Здача відходів до пункту прийому
          металобрухту в Запоріжжі здійснюється в наступній послідовності:
        </div>
      </div>
      <div class="accordion__item questions__item">
        <div class="accordion__item-trigger">
          <div class="trigger__text">Як здати металобрухт у Запоріжжі?</div>
          <div class="trigger__img">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </div>
        <div class="accordion__item-content item-text">
          Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
          компанії. Ми оперативно приймемо замовлення, обумовивши умови,
          призначимо дату. Здавання великої кількості брухту пов’язане з
          необхідністю залучення вантажного транспорту або спеціальної вантажної
          техніки. Іноді для спрощення транспортування великогабаритних відходів
          потрібні послуги різьбяра. Звертаючись за допомогою до професіоналів,
          ви отримуєте весь спектр послуг. Нашим клієнтам не потрібно думати, як
          здати брухт у Запоріжжі, адже ми готові зробити це за них. При цьому
          неважливо, як далеко ви розташовані від нашої бази, ми вивеземо всі
          необхідні відходи. Часто при великих обсягах металобрухту самовивіз
          виявляється безкоштовним. Здача відходів до пункту прийому
          металобрухту в Запоріжжі здійснюється в наступній послідовності:
        </div>
      </div>
      <div class="accordion__item questions__item">
        <div class="accordion__item-trigger">
          <div class="trigger__text">Як здати металобрухт у Запоріжжі?</div>
          <div class="trigger__img">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </div>
        <div class="accordion__item-content item-text">
          Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
          компанії. Ми оперативно приймемо замовлення, обумовивши умови,
          призначимо дату. Здавання великої кількості брухту пов’язане з
          необхідністю залучення вантажного транспорту або спеціальної вантажної
          техніки. Іноді для спрощення транспортування великогабаритних відходів
          потрібні послуги різьбяра. Звертаючись за допомогою до професіоналів,
          ви отримуєте весь спектр послуг. Нашим клієнтам не потрібно думати, як
          здати брухт у Запоріжжі, адже ми готові зробити це за них. При цьому
          неважливо, як далеко ви розташовані від нашої бази, ми вивеземо всі
          необхідні відходи. Часто при великих обсягах металобрухту самовивіз
          виявляється безкоштовним. Здача відходів до пункту прийому
          металобрухту в Запоріжжі здійснюється в наступній послідовності:
        </div>
      </div>
      <div class="accordion__item questions__item">
        <div class="accordion__item-trigger">
          <div class="trigger__text">Як здати металобрухт у Запоріжжі?</div>
          <div class="trigger__img">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </div>
        <div class="accordion__item-content item-text">
          Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
          компанії. Ми оперативно приймемо замовлення, обумовивши умови,
          призначимо дату. Здавання великої кількості брухту пов’язане з
          необхідністю залучення вантажного транспорту або спеціальної вантажної
          техніки. Іноді для спрощення транспортування великогабаритних відходів
          потрібні послуги різьбяра. Звертаючись за допомогою до професіоналів,
          ви отримуєте весь спектр послуг. Нашим клієнтам не потрібно думати, як
          здати брухт у Запоріжжі, адже ми готові зробити це за них. При цьому
          неважливо, як далеко ви розташовані від нашої бази, ми вивеземо всі
          необхідні відходи. Часто при великих обсягах металобрухту самовивіз
          виявляється безкоштовним. Здача відходів до пункту прийому
          металобрухту в Запоріжжі здійснюється в наступній послідовності:
        </div>
      </div>
      <div class="accordion__item questions__item">
        <div class="accordion__item-trigger">
          <div class="trigger__text">Як здати металобрухт у Запоріжжі?</div>
          <div class="trigger__img">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </div>
        <div class="accordion__item-content item-text">
          Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
          компанії. Ми оперативно приймемо замовлення, обумовивши умови,
          призначимо дату. Здавання великої кількості брухту пов’язане з
          необхідністю залучення вантажного транспорту або спеціальної вантажної
          техніки. Іноді для спрощення транспортування великогабаритних відходів
          потрібні послуги різьбяра. Звертаючись за допомогою до професіоналів,
          ви отримуєте весь спектр послуг. Нашим клієнтам не потрібно думати, як
          здати брухт у Запоріжжі, адже ми готові зробити це за них. При цьому
          неважливо, як далеко ви розташовані від нашої бази, ми вивеземо всі
          необхідні відходи. Часто при великих обсягах металобрухту самовивіз
          виявляється безкоштовним. Здача відходів до пункту прийому
          металобрухту в Запоріжжі здійснюється в наступній послідовності:
        </div>
      </div>
      <div class="accordion__item questions__item">
        <div class="accordion__item-trigger">
          <div class="trigger__text">Як здати металобрухт у Запоріжжі?</div>
          <div class="trigger__img">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </div>
        <div class="accordion__item-content item-text">
          Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
          компанії. Ми оперативно приймемо замовлення, обумовивши умови,
          призначимо дату. Здавання великої кількості брухту пов’язане з
          необхідністю залучення вантажного транспорту або спеціальної вантажної
          техніки. Іноді для спрощення транспортування великогабаритних відходів
          потрібні послуги різьбяра. Звертаючись за допомогою до професіоналів,
          ви отримуєте весь спектр послуг. Нашим клієнтам не потрібно думати, як
          здати брухт у Запоріжжі, адже ми готові зробити це за них. При цьому
          неважливо, як далеко ви розташовані від нашої бази, ми вивеземо всі
          необхідні відходи. Часто при великих обсягах металобрухту самовивіз
          виявляється безкоштовним. Здача відходів до пункту прийому
          металобрухту в Запоріжжі здійснюється в наступній послідовності:
        </div>
      </div>
      <div class="accordion__item questions__item">
        <div class="accordion__item-trigger">
          <div class="trigger__text">Як здати металобрухт у Запоріжжі?</div>
          <div class="trigger__img">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </div>
        <div class="accordion__item-content item-text">
          Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
          компанії. Ми оперативно приймемо замовлення, обумовивши умови,
          призначимо дату. Здавання великої кількості брухту пов’язане з
          необхідністю залучення вантажного транспорту або спеціальної вантажної
          техніки. Іноді для спрощення транспортування великогабаритних відходів
          потрібні послуги різьбяра. Звертаючись за допомогою до професіоналів,
          ви отримуєте весь спектр послуг. Нашим клієнтам не потрібно думати, як
          здати брухт у Запоріжжі, адже ми готові зробити це за них. При цьому
          неважливо, як далеко ви розташовані від нашої бази, ми вивеземо всі
          необхідні відходи. Часто при великих обсягах металобрухту самовивіз
          виявляється безкоштовним. Здача відходів до пункту прийому
          металобрухту в Запоріжжі здійснюється в наступній послідовності:
        </div>
      </div>
      <div class="accordion__item questions__item">
        <div class="accordion__item-trigger">
          <div class="trigger__text">Як здати металобрухт у Запоріжжі?</div>
          <div class="trigger__img">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </div>
        <div class="accordion__item-content item-text">
          Щоб здати брухт у Запоріжжі, потрібно зв’язатися з менеджерами нашої
          компанії. Ми оперативно приймемо замовлення, обумовивши умови,
          призначимо дату. Здавання великої кількості брухту пов’язане з
          необхідністю залучення вантажного транспорту або спеціальної вантажної
          техніки. Іноді для спрощення транспортування великогабаритних відходів
          потрібні послуги різьбяра. Звертаючись за допомогою до професіоналів,
          ви отримуєте весь спектр послуг. Нашим клієнтам не потрібно думати, як
          здати брухт у Запоріжжі, адже ми готові зробити це за них. При цьому
          неважливо, як далеко ви розташовані від нашої бази, ми вивеземо всі
          необхідні відходи. Часто при великих обсягах металобрухту самовивіз
          виявляється безкоштовним. Здача відходів до пункту прийому
          металобрухту в Запоріжжі здійснюється в наступній послідовності:
        </div>
      </div>
    </div>
  </div>
</section>
