<section class="reviews">
  <div class="container">
    <div class="breadcrumbs">
      <div class="breadcrumbs__inner">
        <ul class="breadcrumbs__list list-reset">
          <li><a href="/">Головна</a></li>
          <li><span>Статті</span></li>
        </ul>
      </div>
    </div>
    <h1 class="main-title--light main-title--center">
      БРУХТ КОЛЬОРОВИХ МЕТАЛІВ
    </h1>
    <p class="main-subtitle main-subtitle--center">
      Пропонуємо подивитись основнi металопродукти,якi можливо вас зацiкавлять.
    </p>
    <div class="reviews__inner">
      <div class="reviews__item" id="reviews-one">
        <img
          loading="lazy"
          src="./img/alum.jpeg"
          class="image reviews__item-img"
          width="300px"
          height="300px"
          alt="reviews-one"
        />
        <div class="reviews__item-content">
          <h1 class="reviews__item-title">
            ТОП 10 стран по производству меди 2022
          </h1>
          <p class="item-text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
      </div>
      <div class="reviews__item">
        <img
          loading="lazy"
          src="./img/alum.jpeg"
          class="image reviews__item-img"
          width="300px"
          height="300px"
          alt="reviews1"
        />
        <div class="reviews__item-content">
          <h1 class="reviews__item-title">
            ТОП 10 стран по производству меди 2022
          </h1>
          <p class="item-text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
      </div>
      <div class="reviews__item" id="reviews-three">
        <img
          loading="lazy"
          src="./img/alum.jpeg"
          class="image reviews__item-img"
          width="300px"
          height="300px"
          alt="reviews1"
        />
        <div class="reviews__item-content">
          <h1 class="reviews__item-title">
            ТОП 10 стран по производству меди 2022
          </h1>
          <p class="item-text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
      </div>
      <div class="reviews__item" id="reviews-four">
        <img
          loading="lazy"
          src="./img/alum.jpeg"
          class="image reviews__item-img"
          width="300px"
          height="300px"
          alt="reviews1"
        />
        <div class="reviews__item-content">
          <h1 class="reviews__item-title">
            ТОП 10 стран по производству меди 2022
          </h1>

          <p class="item-text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
      </div>
      <div class="reviews__item">
        <img
          loading="lazy"
          src="./img/alum.jpeg"
          class="image reviews__item-img"
          width="300px"
          height="300px"
          alt="reviews1"
        />
        <div class="reviews__item-content">
          <h1 class="reviews__item-title">
            ТОП 10 стран по производству меди 2022
          </h1>

          <p class="item-text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
      </div>
      <div class="reviews__item">
        <img
          loading="lazy"
          src="./img/alum.jpeg"
          class="image reviews__item-img"
          width="300px"
          height="300px"
          alt="reviews1"
        />
        <div class="reviews__item-content">
          <h1 class="reviews__item-title">
            ТОП 10 стран по производству меди 2022
          </h1>

          <p class="item-text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
      </div>
      <div class="reviews__item">
        <img
          loading="lazy"
          src="./img/alum.jpeg"
          class="image reviews__item-img"
          width="300px"
          height="300px"
          alt="reviews1"
        />
        <div class="reviews__item-content">
          <h1 class="reviews__item-title">
            ТОП 10 стран по производству меди 2022
          </h1>

          <p class="item-text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
      </div>
      <div class="reviews__item" id="reviews-five">
        <img
          loading="lazy"
          src="./img/alum.jpeg"
          class="image reviews__item-img"
          width="300px"
          height="300px"
          alt="reviews1"
        />
        <div class="reviews__item-content">
          <h1 class="reviews__item-title">
            ТОП 10 стран по производству меди 2022
          </h1>

          <p class="item-text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
      </div>
      <div class="reviews__item" id="reviews-two">
        <img
          loading="lazy"
          src="./img/alum.jpeg"
          class="image reviews__item-img"
          width="300px"
          height="300px"
          alt="reviews1"
        />
        <div class="reviews__item-content">
          <h1 class="reviews__item-title">
            ТОП 10 стран по производству меди 2022
          </h1>
          <p class="item-text">
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
            Компанія Схід-Лом займається купівлею побутового та
            електротехнічного алюмінію, банки профілю з даного матеріалу із
            забрудненням від 0.5% до 2%. Ціна за цей матеріал залежить від його
            забруднення.Пропонуємо найвигідніші пропозиції за цей металопродукт.
          </p>
        </div>
      </div>
    </div>
    <div class="pagination">
      <ul class="pagination__list">
        <li>
          <a class="pagination__btn-prev" href="#">
            <img
              height="15px"
              width="15px"
              src="./img/arrow-prev.svg"
              alt="arrow-prev"
            />
          </a>
        </li>
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a class="pagination__btn-next" href="#">
            <img
              height="15px"
              width="15px"
              src="./img/arrow-next.svg"
              alt="arrow-next"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
