<section class="team" id="team">
  <div class="container">
    <h1 class="main-title--light main-title--center">
      Популярні статті цього року
    </h1>
    <p class="main-subtitle main-subtitle--center">
      Список найцікавіших статей,які можливо вас зацікавлять.
    </p>

    <div class="swiper team__content">
      <a href="#" class="team__link">Подивитись усi статті</a>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="team__item">
            <h5 class="team__item-title">
              ТОП 10 стран по производству меди 2022
            </h5>
            <picture>
              <img
                loading="lazy"
                src="img/provod4.jpeg"
                class="image team__item--image"
                width="100%"
                height="300px"
                alt="team-image"
              />
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="team__item">
            <h5 class="team__item-title">
              ТОП 10 стран по производству меди 2022
            </h5>
            <picture>
              <img
                loading="lazy"
                src="img/provod4.jpeg"
                class="image team__item--image"
                width="100%"
                height="300px"
                alt="team-image"
              />
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="team__item">
            <h5 class="team__item-title">
              ТОП 10 стран по производству меди 2022
            </h5>
            <picture>
              <img
                loading="lazy"
                src="img/provod4.jpeg"
                class="image team__item--image"
                width="100%"
                height="300px"
                alt="team-image"
              />
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="team__item">
            <h5 class="team__item-title">
              ТОП 10 стран по производству меди 2022
            </h5>
            <picture>
              <img
                loading="lazy"
                src="img/provod4.jpeg"
                class="image team__item--image"
                width="100%"
                height="300px"
                alt="team-image"
              />
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="team__item">
            <h5 class="team__item-title">
              ТОП 10 стран по производству меди 2022
            </h5>
            <picture>
              <img
                loading="lazy"
                src="img/provod4.jpeg"
                class="image team__item--image"
                width="100%"
                height="300px"
                alt="team-image"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
    <div class="team__btns">
      <button
        class="btn-reset team__slider-btn team__slider-btn--prev"
        aria-label="Перейти к предыдущему слайду"
      ></button>
      <button
        class="btn-reset team__slider-btn team__slider-btn--next"
        aria-label="Перейти к следующему слайду"
      ></button>
    </div>
  </div>
</section>
